{% extends 'base.html.twig' %}
{% block body %}
<h1>Bienvenue dans mon Blog</h1>



<P>bla blabla blabla blabla blabla blabla bla
bla blabla blabla blabla blabla blabla blav</p>
{% endblock %}